<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Portfolio</title>
			<meta charset="utf-8">
  			<meta name="viewport" content="width=device-width, initial-scale=1">
  			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  			<style>

  				.modal-header, h4, .close {background-color: #5cb85c;color:white !important;text-align: center;font-size: 30px;}
				.modal-footer {background-color: #f9f9f9;}

				body {
				      position: relative; 
				  }
				  #home {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
				  #education {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
				  #courses {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
				  #projects {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
				  #experiences {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
				  #technologies {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
				  #contact {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
			</style>
		</head>
		
		<body data-spy="scroll" data-target=".navbar" data-offset="50">

			<!--Top Navigation bar-->
			<nav class="navbar navbar-inverse navbar-fixed-top">
 				<div class="container-fluid">
    				<div class="navbar-header">
      					<a class="navbar-brand" href="www.rayhanportfolio.com">RayhanPortfolio</a>
   					</div>
    				<ul class="nav navbar-nav text-uppercase">
     					<li class="active"><a href="#home">Home</a></li>
    					<li><a href="#education">Education</a></li>
    					<li><a href="#courses">Courses</a></li>
    					<li><a href="#projects">Projects</a></li>
    					<li><a href="#experiences">Experiences</a></li>
    					<li><a href="#technologies"></a></li>
    					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#technologies">Technologies
    											<span class="caret"></span></a>
						            <ul class="dropdown-menu">
						              <li><a href="#technologies1">Technologies-1</a></li>
						              <li><a href="#technologies2">Technologies-2</a></li>
						            </ul>
          				</li>
    					<li><a href="#contact">Contact</a></li>
    				</ul>
   
   					<ul class="nav navbar-nav navbar-right">
    					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    				</ul>
  				</div>
			</nav>

			<!--About Me-->
				 
			<div id="home" class="container-fluid">
				<h1>About Me</h1>
				<p>Hello I am Mohammad Rayhanur Rahman.Currently I am working as a student with Motion E-Services GmbH in Hamburg. I have completed my first bachelor degree of <strong>Computer Science & Engineering</strong> from Uttara University, Uttara, Dhaka, Bangladesh.</p>
			</div>

			<div id="education" class="container-fluid">
				  <h1>Education</h1>
				  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
				  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
			</div>
		
			<div id="courses" class="container-fluid">
				  <h1>Courses</h1>
				  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
				  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
			</div>
			
			<div id="projects" class="container-fluid">
				  <h1>Projects</h1>
				  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
				  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
			</div>


			<div id="experiences" class="container-fluid">
				  <h1>Experiences</h1>
				  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
				  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
			</div>


			<div id="technologies" class="container-fluid">
				  <h1>Technologies</h1>
				  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
				  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
			</div>

			<div id="contact" class="container-fluid">
				  <h1>Contact Me</h1>
				  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
				  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
			</div>

		
		

		



<div class="container">
  <h2>Modal Login Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default btn-lg" id="myBtn">Login</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="text" class="form-control" id="psw" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
      </div>
      
    </div>
  </div> 
</div>
 
<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script>



		</body>
	</html>


	