<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="ISO-8859-1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/static/css/style_members.css">
  
</head>
<body>

	<div th:fragment="copy">
		<div class="container">
	    
	    	<div id="products" class="row">
	        	<div class="item  col-xs-4 col-lg-4">
	            	<div class="thumbnail">
	                	<img class="group list-group-image" src="../images/image.png" alt="Tuhin_Photo" />
	                	<div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        Tuhin</h4>
	                    
	                    <p class="group inner list-group-item-text"> Product description... Lorem ipsum dolor sit amet, 
	                    											 consectetuer adipiscing elit, 
	                    											 sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                
	              </div>
	            </div>
	        </div>
	        

	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        Ansari</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>


	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        Rubel</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>


	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        Sumon</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        Mamun</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        Product title</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>


	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        Product title</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>


	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        Product title</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>


	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        Product title</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>


	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        Product title</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>


	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">Rayhan</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>



	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        Product title</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>



	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        Product title</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>



	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        Product title</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>



	        <div class="item  col-xs-4 col-lg-4">
	            <div class="thumbnail">
	                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
	                <div class="caption">
	                    <h4 class="group inner list-group-item-heading">
	                        Product title</h4>
	                    <p class="group inner list-group-item-text">
	                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
	                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	                    <div class="row">
	                        <div class="col-xs-12 col-md-6">
	                            <p class="lead">
	                                Member</p>
	                        </div>
	                        <div class="col-xs-12 col-md-6">
	                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Overview</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
</div>
</body>
</html>




